/* HTML Rules */
html {
    background-image: url(../png/backgroundbrick.png)
}

/* Header Rules */
header img {
    background-color: rgb(150, 150, 150);
    border: 0px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

header {
    background-color: rgb(150, 150, 150);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Body Rules */
body {
    background-color: rgb(255, 233, 205);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    box-shadow: rgb(50, 60, 70) 10px 0px 25px,
  rgb(50, 60, 70) -10px 0px 25px;
}

img {
    border: 4px solid rgb(100, 110, 150);
}
/* Article Styles */
article {
    min-height: 650px;
    line-height: 2.5em;
}

/* Footer Styles */
footer {
    background-color: rgb(125, 125, 125);
    padding: 5px;
}