/* HTML Rules */
html {
    background-image: url(../png/backgroundbrick.png)
}

/* Header Rules */
header {
    background-color: rgb(150, 150, 150);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

/* Body Rules */
body {
    background-color: rgb(255, 233, 205);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

/* Article Styles */
article {
    min-height: 650px;
}

/* Footer Styles */
footer {
    background-color: rgb(125, 125, 125);
    padding: 5px;
}